section{
    width:auto;
    max-width: 450px;
    padding:30px;
    padding-bottom: 50pt;
    margin:40px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.notLogged{
  background-image: url("../img/backgroundLoginReg.jpg");
}

#corpo > header{
  background:  #c90a16;
  border-radius: 10px 10px 0 0;
  width:90%;
  margin-top:1%;
  margin-left: 1%;
  border-bottom: solid 1px;
  margin-bottom: 2%;
}

#corpo > header > h1{
  color:white;
}

section > header{
	 background:  #c90a16;
    padding: 20px 30px 15px 30px;
    margin: 0 0 30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #E59400;


}
section > header h1{
	margin: 0;
    font: normal 30px 'Bitter', serif;
}
section > header h2{
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}

form fieldset{
    padding: 30px;
    background: #F7F7F7;
    border-radius: 6px;
    margin-bottom: 15px;
	  border: none;
}

form ul{
	padding: 0;
	margin: 0;
    list-style: none;
}

form label{
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
}
form input[type="text"],
form input[type="date"],
form input[type="tel"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="password"],
form textarea,
form select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

form fieldset legend{
    font: normal 20px 'Bitter', serif;
    color: #c90a16;
    margin-bottom: 5px;
}
form fieldset legend span {
    background: #c90a16;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    color: #fff;
}

input[type="submit"], input[type="reset"]{
  cursor:pointer;
    background: #c90a16;
    padding: 8px 20px 8px 20px;
    margin-top: 1%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #c90a16;
    font-size: 15px;
    margin-left: 10pt;
    float:right;
    padding-bottom: 10pt;
}
.aggProdInput{
  width:100%;
}

form input[type="reset"]:hover,
form input[type="submit"]:hover{
    background: #ea2c39;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

form label[for="reset"]{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
form input[type="checkbox"]{
	margin: 10px 0 0;
	float: left;
}
form label[for="privacy"] {
    float: left;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

a#login{
	color:white;
}


a{
	font-size: 18px;
	color:black;
	text-decoration: none;
  padding: 2%;
}


a:hover{
	font-size: 20px;
}

a:visited{
	color:black;
}

#homeHeader{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  width:100%;
  margin:0px;
  padding-top:2%;
  padding-bottom: 2%;
  height: 10%;
  background-image: url("../img/backgroundLoginReg.jpg");
  border-bottom: solid 2px;
}

body.home{
  margin:0px;
  padding:0px;
}

#numeroOggetti{
  margin:0px;
  padding-top:0px;
  padding-bottom:0px;
  text-align: center;
}
#corpo{
  padding-bottom: 3%;
    background-color: #e8e8e8;
}

#title{
  margin-left: 5%;
  width:auto;
  order:1;
}

#siteDescription{
  margin-left: 5%;
  width:100%;
  order:5;
}

.carrello{
  cursor: pointer;
  margin-right: 1%;
  padding-left:1%;
  padding-top:3px;
  width:30px;
  height: 30px;
}

figure{
  margin:0px;
  margin-right: 3px;
  margin-left: 3px;
}

div#name{
  position: fixed;
  margin-left: 75%;
  border-radius: 10%;
  display:flex;
  flex-wrap: nowrap;
  padding-right: 1%;
  order:3;
  height:50pt;
  background-color: white;
  border:solid 1px;
}

#blockBox{
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  display: flex;
  align-content: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo{
  cursor:pointer;
  border-radius: 20px;
  margin-left: 2%;
  margin-right:2%;
  margin-bottom: 2%;

  width:200px;
}

@media screen and (max-width: 500pt)
{
  #logo{
    width:170px;
  }

  div#name {
      margin-left: 70%;
      position: fixed;
  }
}

@media screen and (max-width: 1110px)
{
  #blockBox{
    display: none;
  }
}

@media screen and (max-width: 420pt)
{
    div#name {
      margin-left: 1%;
        position: static;
    }

    #logo{
      width:170px;
    }

    .cart{
      width:96%;
    }
}

#username{
    cursor: pointer;
    margin: 0;
    margin-top: 10px;
    border-radius: 10%;
    background-color: grey;
    justify-content: center;
    font-size: 110%;
    border: solid 1px;
}

#logout{
   display: none;
}

a#logout{
  text-decoration: bold;
}

nav {
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
}

.cart table{
  margin-left:2%;
}

.cart .info{
  text-indent: 2%;
  padding-bottom: 2%;
}

nav div {
  width: 22%;
  height: 20px;
  float: left;
  display:block;
  margin-right: 3%;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  border-radius: 20px;
  background-color: grey;
  color:white;
  font-size: 12pt;
}

body nav div {
  background-color: black;
  border-radius: 0;
  width:33.333%;
  padding:0;
  padding-top:1%;
  padding-bottom:1%;
  margin: 0;
}

#ordini{
  background-color: black;
  border-radius: 0;
  width:100%;
  color:white;
  text-align: center;
  padding:0;
  padding-top:1%;
  padding-bottom:1%;
  margin: 0;
}

header nav{
  margin: 0;
  margin-bottom: 0;
  padding :0;
  order:5;
}

#corpo{
  padding-top:0.5%;
}

.categoryBox{
  background-color: #ea2c39;
  color:white;
  cursor: pointer;
  min-width: 200px;
  height: 5%;;
  border : solid 2px black;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1%;
}
legend{
  cursor:default;
}

tr {
  text-align: center;
  border : solid 1px;
}

.recForm{
  width:30%;
}

.iconElimina{
  cursor: pointer;
  width:20pt;
  height: 20pt;
}

.pagamento{
  background-color: #ea2c39;
  border:solid 1px;
  max-width: 200pt;
  text-indent: 2%;
  margin:2%;
}

.iconEliminaOrdine{
  cursor: pointer;
  width:20pt;
  height: 20pt;
}

.cart{
  margin:2%;
  background-color: white;
  border: solid 1px;
}

.iconAggiungiCarrello{
  cursor: pointer;
  width:20pt;
  height: 20pt;
}

.aggiungiProdotto{
    display:none;
    background-color: white;
}

#totale{
  border-top: solid 1px;
}

.cart > p{
  margin-left: 2%;
}

#idcat{
  display: none;
}

body{
  background-color: #e8e8e8;
  display:block;
}

#carrello{
  width: 90%;
}

.statoSuccessivo{
  background-color: gray;
  padding-top:1%;
  padding-bottom:1%;
}

.aggiungi{
  width:20pt;
  height: 20pt;
}

.rimuovi{
  width:20pt;
  height: 20pt;
}

.aggiungiOrdine{
  width:20pt;
  height: 20pt;
}

#aggiungiOrdine{
  cursor:pointer;
}

img.aggiungiOrdine{
  cursor:pointer;
}

img.rimuoviOrdine{
  cursor: pointer;
}

#inserisci_indirizzo{
  display:none;
  margin-left: 2%;
  max-width: 200pt;
  padding-bottom: 5%;
  min-height: 80pt;
}

.indirizzo{
  cursor:pointer;
  background-color: white;
  border:solid 1px;
  max-width: 200pt;
  text-indent: 2%;
  margin:2%;
}
.rimuoviOrdine{
  width:20pt;
  height: 20pt;
}

.imgCategoryBox{
  width:30pt;
  height: 30pt;
  border-radius: 5px 5px 0px 0px;
}

.recensione{
  margin-left: 3%;
  margin-top: 3%;
  padding-left: 2%;
  border: solid 1px;
  width:30%;
  min-width:200pt;
  background-color: white;

}

.formRecensione{
  width:250px;
  margin-left:3%;
  padding-bottom: 3%;
}

hr{
  margin-bottom:1%;
  height: 0;
}

#corpo h1{
  padding-left: 2%;
}

#corpo h2{
  margin-left: 2%;
  padding-top:1%;
}

.ordine, #orario, #contatti, .box_prodotto{
  margin-left: 3%;
  margin-top: 3%;
  padding-left: 2%;
  padding-bottom: 1%;
  border: solid 1px;
  width:30%;
  min-width:200pt;
  background-color: white;
}

#orario > table {
  width:100%;
}

td{
  text-align: left;
}

th{
  text-align: left;
}

header > div > h2 {
  background-color: white;
  border-radius: 5px;
  width:46%;
  min-width: 200pt
}

.butt{
  cursor:pointer;
}

footer{
  cursor:pointer;
  margin-top: 30pt;
  margin-bottom: 0px;
  text-indent: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  color:white;
  background-color: black;
  width: 100%;
}

#completaOrdine{
  float:left;
  margin-left: 2%;

}

#space{
  height:115px;
}
